In [ ]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [ ]:
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

## 1. 讀入 hotel booking 數據集

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("hotel_bookings.csv")
df.head()

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02
3  Resort Hotel            0  ...           Check-Out               2015-07-02
4  Resort Hotel            0  ...           Check-Out               2015-07-03

[5 rows x 32 columns]

## 2. 區分訓練、測試集

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data=pd.DataFrame(df)
data['hotel'] = labelencoder.fit_transform(data['hotel'])
data['is_canceled'] = labelencoder.fit_transform(data['is_canceled'])
data['meal'] = labelencoder.fit_transform(data['meal'])
data['country'] = labelencoder.fit_transform(data['country'])
data['market_segment'] = labelencoder.fit_transform(data['market_segment'])
data['distribution_channel'] = labelencoder.fit_transform(data['distribution_channel'])
data['reserved_room_type'] = labelencoder.fit_transform(data['reserved_room_type'])
data['assigned_room_type'] = labelencoder.fit_transform(data['assigned_room_type'])
data['deposit_type'] = labelencoder.fit_transform(data['deposit_type'])
data['customer_type'] = labelencoder.fit_transform(data['customer_type'])
data['reservation_status'] = labelencoder.fit_transform(data['reservation_status'])

In [ ]:
def find_month(month_name):
    month = {'January':1,'February':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9,'October':10,'November':11,'December':12}
    return month.get(month_name)
monthlist=[]
for month in data['arrival_date_month']:
    num = find_month(month)
    monthlist.append(num)
data['arrival_date_month'] = monthlist

In [ ]:
n=data.shape[0]
range = max(data['lead_time'])-min(data['lead_time'])
mean = sum(data['lead_time'])/n
data['lead_time'] = (data['lead_time']-mean)/range
range1 = max(data['adr'])-min(data['adr'])
mean1 = sum(data['adr'])/n
data['adr'] = (data['adr']-mean1)/range1

In [ ]:
dataTypeSeries = data.dtypes
print(dataTypeSeries)

hotel                               int64
is_canceled                         int64
lead_time                         float64
arrival_date_year                   int64
arrival_date_month                  int64
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                                int64
country                             int64
market_segment                      int64
distribution_channel                int64
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                  int64
assigned_room_type                  int64
booking_changes                     int64
deposit_type                        int64
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                       int64
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                  int64
reservation_status_date            object
dtype: object

In [ ]:
y=data.is_canceled
x=data.iloc[:,[0,2,5,16,17,18,21,22,25,26,27]]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

        hotel  lead_time  ...  customer_type       adr
78766       0  -0.131630  ...              2  0.006135
109234      0   0.052902  ...              3  0.011962
4638        1   0.002698  ...              2 -0.003298
12445       1   0.006769  ...              2  0.007060
73512       0   0.071898  ...              2  0.007134

[5 rows x 11 columns]

In [ ]:
x_train.shape

(95512, 11)

In [ ]:
x_test.head()

        hotel  lead_time  ...  customer_type       adr
25229       1  -0.141128  ...              2  0.001973
19280       1  -0.141128  ...              2 -0.008070
117662      0  -0.016298  ...              3  0.004285
31186       1  -0.137058  ...              3 -0.011622
100627      0  -0.100423  ...              2  0.007800

[5 rows x 11 columns]

In [ ]:
x_test.shape

(23878, 11)

## 3. 建立神經網絡

In [ ]:
model = Sequential()

In [ ]:
model.add(Dense(128, input_dim=11, activation='relu'))

In [ ]:
model.add(Dense(56, activation='relu'))

In [ ]:
model.add(Dense(1, activation='sigmoid'))

### 組裝我們的神經網路

In [ ]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

查看模型情況

In [ ]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 128)               1536

 dense_4 (Dense)             (None, 56)                7224

 dense_5 (Dense)             (None, 1)                 57

=================================================================
Total params: 8,817
Trainable params: 8,817
Non-trainable params: 0
_________________________________________________________________

## 4. 訓練

In [ ]:
model.fit(x_train, y_train, batch_size=30, epochs=10)

Epoch 1/10
3184/3184 [==============================] - 13s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6298
Epoch 2/10
3184/3184 [==============================] - 13s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6301
Epoch 3/10
3184/3184 [==============================] - 13s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6301
Epoch 4/10
3184/3184 [==============================] - 13s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6301
Epoch 5/10
3184/3184 [==============================] - 12s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6301
Epoch 6/10
3184/3184 [==============================] - 12s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6301
Epoch 7/10
3184/3184 [==============================] - 12s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6301
Epoch 8/10
3184/3184 [==============================] - 12s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6301
Epoch 9/10
3184/3184 [==============================] - 12s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6301
Epoch 10/10
3184/3184 [==============================] - 12s 4ms/step - loss: 0.0000e+00 - accuracy: 0.6301